aws-cdk-lib==2.31.1
constructs==10.0.127
hermes_core @ git+https://github.com/HERMES-SOC/hermes_core.git
flake8
black
pytest
pytest-astropy
pytest-cov
sphinx # for documentation
sphinx-automodapi # for documentation
sphinx-changelog # for changelog in documentation
sphinx_rtd_theme